html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


@media (max-width: 600px) {
    .main{
    width: 100%;   
    height: 100%;
    margin-left: 1vw;
    position: relative;
}
.navbar{
    width: 100%;
    height: 26px;
    justify-content: space-between;
    display: flex;  
    align-items: center;
    padding-top: 2vw;
    background-color: white;
}
   .navlogo{
        font-weight: bolder;
        font-size: 3.5vw;
   }
    .authlinks{
        display: block;
        font-size: 5.5vw;
    }
    .authlinks i{
        display: inline-block;
        font-size: 5.5vw;
    }
    .navlinks{
        display: none;
    }
    .login-btn, .create-btn{
        display: none;
    }
.content-description{
    width: 96%;
    height: 55%;
    margin-left: 1vw;
    margin-right: 2vw;;
    border-radius: 3vw;
    background-color: rgba(209, 244, 199, 0.314);
    text-align: center;
    margin-top: 1vw;
}

.content{
    height: calc(100% - 26px);
    width: 100%;
    margin-left: 1vw;
    position: relative;
}
.content-description #update{
    font-size: 2.7vw;
    font-weight: 700;
    border: none;
    display: inline-block;
    background-color: rgb(228, 227, 227);
    color: rgba(22, 56, 22, 0.727);
    padding: 0.7vw 1.5vw;
    border-radius: 1.8vw;
    margin-top: 4vw;
}
.content-description h2{
    margin-top: 2.7vw;
    width: 60%;
    transform: translate(33%, -15%);
    color: rgb(12, 32, 12);
    font-size: 5vw;
}
.content-description #code{
    margin-top: 10.4vw;
    width: 50%;
    transform: translate(50%, -70%);
    color: rgba(22, 56, 22, 0.727);
    font-size: 2.2vw;
}

.content-image{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.con-img{
    width: 75vw;
    height: 55vw;
    object-fit: cover;
    border-radius: 2vw;
    border: 1px solid lightgray;
}
.video-desc{
    position: absolute;
    top: 80%;
    left: 28%;
    width: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-desc1{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}
.video-desc2{
    display: none;
}

.learn{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 1vw;
    position: absolute;
    top: 90%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 10%);
    text-align: center;
}
.learn #learn-heading{
    font-size: 4.5vw;
    font-weight: 700;
    color: rgb(12, 32, 12);
}
.learn #learn-desc{
    font-size: 3.5vw;
    color: rgba(22, 56, 22, 0.727);
}
.purchase{
    font-size: 3.5vw;
    width: 100%;
    background-color: rgb(3, 19, 3);
    color: white;
    border: none;
    padding: 3vw 10vw;
    border-radius: 2.8vw;
    cursor: pointer;
    margin-top: 1vw;
}
.preview{
    display: flex;
    align-items: center;
    margin-top: 2vw;
}
.preview-btn{
    font-size: 3.5vw;
    width: 100%;
    background-color: transparent;
    color: rgb(3, 19, 3);
    border: 1px solid rgb(3, 19, 3);
    padding: 2vw 25vw;
    border-radius: 2.8vw;
    cursor: pointer; 
    text-wrap: nowrap;
}


}

@media (min-width: 601px) and (max-width: 899px) {
   .main{
    width: 100%;   
    height: 100%;
    margin-left: 1vw;
    position: relative;
}
.navbar{
    width: 100%;
    height: 30px;
    display: flex;  
    align-items: center;
    padding: 1vw 2vw;
    background-color: white;
}
.navlogo{
    font-size: 1vw;
    font-weight: bolder;
    color: black;
    display: block;
}
.navlist{
    width: 100%;
    align-items: center;
    list-style: none;
    gap: 3vw;
    color: black;
    font-size: 2vw;
    display: flex;
}
.navlinks{
    display: flex;
    font-size: 1vw;
    gap: 3vw;
}

.authlinks{
    display: flex;
    align-items: center;
    gap: 1vw;
    padding-right: 5vw;
}
.authlinks i{
    display: none;
    font-size: 1.5vw;
    cursor: pointer;
}

.login-btn{
    padding: 0.5vw 1vw;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 0.4vw;
    color: black;
    font-size: 1vw;
    cursor: pointer;
}
.create-btn{
    padding: 0.5vw 1vw;
    text-wrap: nowrap;
    background-color: rgb(12, 32, 12);
    border: none;
    border-radius: 0.4vw;
    color: white;
    font-size: 1vw;
    cursor: pointer;
}
.content{
    height: calc(100% - 30px);
    width: 100%;
    margin-left: 1vw;
    position: relative;
}
.content-description{
    width: 96%;
    height: 70%;
    margin-left: 1vw;
    margin-right: 2vw;;
    border-radius: 3vw;
    background-color: rgba(209, 244, 199, 0.314);
    text-align: center;
    margin-top: 1vw;
}
.content-description #update{
    font-size: 0.7vw;
    font-weight: 700;
    border: none;
    display: inline-block;
    background-color: rgb(228, 227, 227);
    color: rgba(22, 56, 22, 0.727);
    padding: 0.5vw 1vw;
    border-radius: 0.8vw;
    margin-top: 4vw;
}
.content-description h2{
    margin-top: 0.5vw;
    width: 50%;
    transform: translate(50%, -10%);
    color: rgb(12, 32, 12);
    font-size: 3vw;
}
.content-description #code{
    margin-top: 0.1vw;
    width: 40%;
    transform: translate(75%, -70%);
    color: rgba(22, 56, 22, 0.727);
    font-size: 1vw;
}

.content-image{
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.con-img{
    width: 45vw;
    height: 25vw;
    object-fit: cover;
    border-radius: 1vw;
    border: 1px solid lightgray;
}
.video-desc{
    position: absolute;
    top: 80%;
    left: 28%;
    width: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-desc1{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}
.video-desc2{
    position: absolute;
    width: 40%;
    top: 70%;
    left: 46%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: small;
    align-items: center;
    text-wrap: nowrap;
    line-height: 0.5;
}
.learn{
    display: none;  
}
.learn{
    display: none;
}
.purchase{
    display: none;
}
.preview{
    display: none;
}
.preview-btn{
   display: none;
}
}

@media (min-width: 900px){
.main{
    width: 100%;   
    height: 100%;
    margin-left: 1vw;
    position: relative;
}
.navbar{
    width: 100%;
    height: 30px;
    display: flex;  
    align-items: center;
    padding: 1vw 2vw;
    background-color: white;
}
.navlogo{
    font-size: 1vw;
    font-weight: bolder;
    color: black;
    display: block;
}
.navlist{
    width: 100%;
    align-items: center;
    list-style: none;
    gap: 3vw;
    color: black;
    font-size: 2vw;
    display: flex;
}
.navlinks{
    display: flex;
    font-size: 1vw;
    gap: 3vw;
}

.authlinks{
    display: flex;
    align-items: center;
    gap: 1vw;
    padding-right: 5vw;
}
.authlinks i{
    /* display: none; */
    font-size: 1.5vw;
    cursor: pointer;
}

.login-btn{
    padding: 0.5vw 1vw;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 0.4vw;
    color: black;
    font-size: 1vw;
    cursor: pointer;
}
.create-btn{
    padding: 0.5vw 1vw;
    text-wrap: nowrap;
    background-color: rgb(12, 32, 12);
    border: none;
    border-radius: 0.4vw;
    color: white;
    font-size: 1vw;
    cursor: pointer;
}
.content{
    height: calc(100% - 30px);
    width: 100%;
    margin-left: 1vw;
    position: relative;
}
.content-description{
    width: 96%;
    height: 70%;
    margin-left: 1vw;
    margin-right: 2vw;;
    border-radius: 3vw;
    background-color: rgba(209, 244, 199, 0.314);
    text-align: center;
    margin-top: 1vw;
}
.content-description #update{
    font-size: 0.7vw;
    font-weight: 700;
    border: none;
    display: inline-block;
    background-color: rgb(228, 227, 227);
    color: rgba(22, 56, 22, 0.727);
    padding: 0.5vw 1vw;
    border-radius: 0.8vw;
    margin-top: 4vw;
}
.content-description h2{
    margin-top: 0.5vw;
    width: 50%;
    transform: translate(50%, -10%);
    color: rgb(12, 32, 12);
    font-size: 3vw;
}
.content-description #code{
    margin-top: 0.1vw;
    width: 40%;
    transform: translate(75%, -70%);
    color: rgba(22, 56, 22, 0.727);
    font-size: 1vw;
}

.content-image{
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.con-img{
    width: 45vw;
    height: 25vw;
    object-fit: cover;
    border-radius: 1vw;
    border: 1px solid lightgray;
}
.video-desc{
    position: absolute;
    top: 80%;
    left: 28%;
    width: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-desc1{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}
.video-desc2{
    position: absolute;
    width: 40%;
    top: 70%;
    left: 46%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: small;
    align-items: center;
    text-wrap: nowrap;
    line-height: 0.5;
}
.learn{
    display: none;  
}
}

